<div class="card">
  <form novalidate [formGroup]="resetPasswordForm" class="needs-validation">
    <div class="card-header">
      <h4 class="card-title mb-0">Editar Contraseña</h4>
    </div>

    <div class="card-body">
      @if(!resetPassword){

      <p class="text-justify">Ingresa tu correo electrónico asociado a tu cuenta para solicitar el cambio de contraseña.
      </p>
      <div class="form-group">
        <label for="email" class="col-form-label">Correo Electrónico</label>
        <div class="row">
          <div class="col-12">
            <input id="email" [formControl]="emailFormControl" class="form-control mb-1" type="email"
              placeholder="email@example.com">
            @if(emailFormControl.hasError('email') && emailFormControl.touched){
            <div class="invalid-feedback">Por favor, introduzca una dirección de correo electrónico válida.
            </div>
            }
            @if(emailFormControl.hasError('required') && emailFormControl.touched){
            <div class="invalid-feedback">Por favor, introduzca una dirección de correo electrónico.</div>
            }

          </div>
        </div>
      </div>
      }@else {
      <p class="text-justify">{{message}}</p>
      <div class="mt-4 mb-4 d-flex align-items-center justify-content-between">
        <span class="reset-password-link">¿Si no recibo el código de verificación?</span>
        <button type="button" [disabled]="loading || loadingResendOtp" class="btn btn-primary btn-block"
          (click)="resendOpt()">
          @if(loadingResendOtp){
          <div class="spinner-border spinner-border-sm text-light me-1" role="status">
            <span class="visually-hidden">Cargando...</span>
          </div>
          }
          Reenviar
        </button>
      </div>
      <div class="row">
        <div class="col-12">
          <mf-security-otp (otpEvent)="updateOtp($event)"></mf-security-otp>
        </div>
        <div class="col-12">
          <h6 class="mt-4">Crea tu contraseña</h6>
        </div>
        <div class="col-12 mt-2">
          <div class="mb-3">
            <label for="password" class="col-form-label">Nueva Contraseña</label>
            <input id="password" [formControlName]="'password'" class="form-control" [type]="show ? 'text' : 'password'"
              placeholder="********">
            @if(resetPasswordForm.get('password')!.hasError('required') &&
            resetPasswordForm.get('password')!.touched){
            <div class="invalid-feedback">Por favor, introduzca su contraseña.</div>
            }
            @if(resetPasswordForm.get('password')!.hasError('pattern') &&
            resetPasswordForm.get('password')!.touched){
            <div class="invalid-feedback">La contraseña debe tener al menos una letra mayúscula, una letra
              minúscula, un número y un carácter especial y mínimo 8 caracteres.</div>
            }
            @if(!show){
            <div class="show-hide me-1" (click)="showPassword()">
              <fa-icon [icon]="faEye"></fa-icon>
            </div>
            }@else{
            <div class="show-hide me-1" (click)="showPassword()">
              <fa-icon [icon]="faEyeSlash"></fa-icon>
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Vuelva a escribir la contraseña</label>
            <input id="confirmPassword" class="form-control" [formControlName]="'confirmPassword'" type="password"
              placeholder="********">
            @if(resetPasswordForm.get('confirmPassword')!.hasError('required') &&
            resetPasswordForm.get('confirmPassword')!.touched){
            <div class="invalid-feedback">Por favor, vuelva a introducir la contraseña.</div>
            }
            @if(resetPasswordForm.hasError('passwordMismatch') &&
            resetPasswordForm.get('confirmPassword')!.touched){
            <div class="invalid-feedback">Las contraseñas no coinciden.</div>
            }
          </div>
        </div>

      </div>
      }
    </div>


    <div class="card-footer text-end">
      @if(!resetPassword){
      <button [disabled]="loading || emailFormControl.invalid" class="btn btn-primary" type="button"
        (click)="onForgetPassword()">
        @if(loading){
        <div class="spinner-border spinner-border-sm text-light me-1" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
        }
        Solicitar
      </button>
      }@else {

      <button (click)="onUpdatePassword()" [disabled]="loading || resetPasswordForm.invalid" class="btn btn-primary"
        type="button">
        @if(loading){
        <div class="spinner-border spinner-border-sm text-light me-1" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
        }
        Actualizar
      </button>
      }
    </div>
  </form>
</div>